/*header的样式*/
.header{
  width: 100%;
  height: 56px;
  background-color: #25292e;
}
a:hover{
  color: #f40;
}
/*分类列表*/
.main{
  overflow: hidden;
  /*导航的内容部分*/
  @nav-h: 48px;
  @li-w:164px;
  .nav{
    /*导航*/
    //overflow: hidden;
    line-height: @nav-h;
    position: relative;
    z-index: 2;
    .nav-list > li{
      float: left;
      width: @li-w;
      border-bottom: 4px solid #ededed;
      text-align: center;
      cursor: pointer;
      a{
        font-weight:700;
        color: #000;
        text-decoration: none;
      }
    }
    .nav-list >li:hover{
      border-bottom: 4px solid #000;
    }
    .nav-list .search{
      /*搜索*/
      width: 180px;
      >a{
        float: right;
      }
    }
    .nav-list .search:hover{
      //float: right;
      border-bottom: 4px solid #ededed;
    }
  }
  .shop:hover #goods-category {
    display: block;
  }
  #goods-category{
    /*商店列表*/
    position: absolute;
    z-index: 9;
    //top: 0px;
    top:52px;
    left: 0;
    width: 1000px;
    height: 200px;
    //background-color: rgba(0,0,0,0.7);
    background-color: #fff;
    display: none;
    //color: #fff;
    .lis{
      float: left;
      width: @li-w - 42px;
      text-align: center;
      height: 78px;
      img{
        width: 40px;
        height: 40px;
        display: block;
        line-height: 40px;
        margin-left:42px;
      }
      p{
        line-height: 20px;
      }
    }
  }
 .banner{
  /*banner的样式*/
  width: 1000px;
  //height: 475px;
  margin: 0 auto 36px auto;
  .carousel{
    /*轮播图*/
    position: relative;
    .btns{
      /*按钮*/
      position: absolute;
      height: 50px;
      width: 900px;
      top: 225px;
      left: 0;
      padding:0 50px;
      .leftBtn{
        /*左按钮*/
        float: left;
        background: rgba(0,0,0,0.5) url(../images/normal_right.png) 0 0 no-repeat;
      }
      .rightBtn{
        /*右按钮*/
        float: right;
        background: rgba(0,0,0,0.5) url(../images/normal_left.png) 0 0 no-repeat;
      }
      a{
        width: 50px;
        height: 50px;
      }
    }
    .circle{
      /*小圆圈*/
      position: absolute;
      bottom: 60px;
      left: 380px;
      li{
        margin:0 12px;
        float: left;
        width: 24px;
        height: 24px;
        border-radius: 50%;
        background-color: grey;
      }
      li.current{
        background-color: purple;
      }
    }
    .imageslist{
      /*图片列表*/
      li{
        list-style: none;
        display: none;
      }
      li.first{
        display: block;
      }
    }
  }
}
 .goods{
/*商品详情*/
  @width : 216px;
  @height : 300px;
  li{
    margin-right:(1000px -  @width*4)/3px - 3px;
  }
   li.diy{
     margin-right:0;
   }
  .items{
    float: left;
    width: @width;
    margin-bottom: 46px;
    border: 1px solid #dcdcdc;
    overflow: hidden;
    background-color: #fff;
    .oImg{
      display: block;
      position: relative;
      overflow: hidden;
      height: @height;
      width: @width;
      img{
        width: @width;
        height: @height;
      }
    }
    .desc{
      position: absolute;
      left: 0;
      top: -0;
      padding: 12px;
      width: @width - 24px;
      height: @height - 24px;
      line-height: 24px;
      text-indent:24px;
      color: #fff;
      background-color: rgba(0,0,0,0.7);
      display: none;
      .price{
        display: block;
        color: #f40;
        margin-top:48px;
      }
    }
  }
}
}
