/*分类列表*/
.main {
  overflow: hidden;
}
.nav {
  overflow: hidden;
}
.nav li {
  float: left;
  padding: 0 8px;
}
.nav .search {
  float: right;
}
#nav-ul {
  /*导航列表*/
  float: left;
  display: inline-block;
}
/*商品详情*/
.goods li {
  float: left;
  padding-left: 12px;
}
.goods li img {
  width: 200px;
  height: 200px;
}
