em {
  color: #666;
  font-size: 10px;
}
.success,
.error {
  display: none;
}
.success {
  /*用户名可用*/
  color: green;
}
.error {
  /*用户名不存在*/
  color: #f90;
}
.container {
  /*容器*/
  width: 620px;
  margin: 0 auto;
}
.container .logo {
  /*logo*/
}
.container .logo img {
  margin-left: 256px;
}
.container p {
  text-align: center;
}
.container input {
  line-height: 36px;
  padding: 0 24px;
  border-radius: 5px;
  border: 1px solid #eee;
  outline: none;
}
.container input span {
  display: inline-block;
  width: 80px;
}
.container #register {
  width: 80px;
  margin-right: 36px;
}
.container .login {
  color: #666;
  font-size: 10px;
  position: relative;
  top: 10px;
}
